:root{
    --primary-color: #8B5CF6;
    --base-black-color: #111827;
    --base-white-color: #F9FAFB;
    --sm-font-size: 14px;
    --base-font-size: 16px;
    --lg-font-size: 18px;
    --xl-font-size: 20px;
    --2xl-font-size: 24px;
    --3xl-font-size: 30px;
    --4xl-font-size: 32px;
    --sm-line-height: 20px;
    --base-line-height: 24px;
    --lg-line-height: 28px;
    --xl-line-height: 28px;
    --2xl-line-height: 32px;
    --3xl-line-height: 36px;
    --4xl-line-height: 40px;
    --light-font-weight: 300;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    --black-font-weight: 900;
    --2xl-padding: 10%;
    --lg-padding: 15%;
    --md-padding: 12.5%;
    --sm-padding: 7%;

  }
body, ul, ol, p, h1, h2, h3{
    margin: 0;
}

h1{
    font-size: var(--3xl-font-size);
    font-weight: var(--black-font-weight);
    line-height: var(--3xl-line-height);
}
h2{
    font-size: var(--2xl-font-size);
    font-weight: var(--black-font-weight);
    line-height: var(--2xl-line-height);
}
body{
    font-family: Arial;
    color: var(--base-black-color);
    background-color: #E5E7EB;
}
textarea{
    resize: none;
}
.header{
    background-color: var(--base-white-color);
    height: 144px;
    display: grid;
    padding: 24px var(--2xl-padding);
    grid-template-rows: 76px 44px;
    gap: 24px;
}
.burger-menu{
    display: none;
}
.container{
    display: flex;
}
.logo-block{
    display: flex;
}
.company-name{
    margin-right: auto;
    align-self: center;
    font-size: var(--2xl-font-size);
    font-weight: var(--black-font-weight);
    line-height: var(--2xl-line-height);
    letter-spacing: 0em;
    text-align: left;
}
.header .info{
    display: flex;
    flex-direction: column;
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--base-line-height);
    letter-spacing: 0em;
    text-align: right;
    padding-right: 12px;
    border-right: 1px solid #A78BFA;
}
.nav{
    margin-right: auto;
}
.call-info{
    padding-left: 12px;
    align-self: center;
}

.phone{
    font-size: var(--4xl-font-size);
    font-weight: var(--black-font-weight);
    line-height: var(--4xl-line-height);
    letter-spacing: 0em;
    text-align: left;
}
.free-call{
    font-size: var(--2xl-font-size);
    font-weight: var(--light-font-weight);
    line-height: var(--3xl-line-height);
    letter-spacing: 0em;
    text-align: left;
}
.nav{
    align-self: center;
    display: flex;
    justify-content: space-between;
    
    font-size: var(--base-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--base-line-height);
    letter-spacing: 0em;
    text-align: left;
}
.nav a{
    color: var(--base-black-color);
    margin-right: 24px;
    text-decoration: none; 
}
.nav a:hover{
    color: var(--primary-color);
}
.nav .selected{
    color: var(--primary-color);
    margin-right: 24px;
    border-bottom: 2px dashed var(--primary-color);
}
.button{
    border-radius: 4px;
    padding: 10px 28px;
    border: none;
    background-color: var(--primary-color);
    color: var(--base-white-color);
    font-size: var(--base-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--base-line-height);
}


.main{
    padding: 72px var(--2xl-padding);
}

.main-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px , 1fr));
    gap: 24px;
}

.calculator{
    background-color: var(--base-white-color);
    padding: 24px 15%;
    border-radius: 16px;
    
}

@media (max-width: 1200px) {
    .calculator{
        background-color: var(--base-white-color);
        padding: 24px 8%;
        border-radius: 16px;
        
    }
}
.description{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
} 
.main-info .description .title{
    font-size: var(--4xl-font-size);
    font-weight: var(--black-font-weight);
    line-height: var(--4xl-line-height);
    margin-bottom: 12px;
}
.main-info .description .text{
    font-size: var(--xl-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--xl-line-height);
}
.main-info .description .image{
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 16px;
}
.calculator .info{
    text-align: center;
}
.calculator .title{
    font-weight: var(--bold-font-weight);
    margin-bottom: 16px;
}
.calculator p{
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--base-line-height);
    margin-bottom: 28px;
}
.form-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, auto));
    gap: 24px;
    width: auto;
}
.form-grid .input{
    font-family: Arial;
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--base-line-height);
    color: var(--base-black-color);
    padding: 12px;
    border: 2px solid var(--base-black-color);
    border-radius: 4px;
    
}
.form-grid .input::placeholder{
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--base-line-height);
    color: #9CA3AF;
}
.form-grid .wide{
    grid-column: 2 span;
}
.form-grid .button{
    height: 44px;
}

.adventages > .title{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.adventages-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, auto));
    gap: 24px; 
}
@media (max-width: 1100px) {
    .adventages-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, auto));
        gap: 24px;
    }
}
.adventages-list .item{ 
    display: grid;
    grid-template-columns: 136px minmax(200px, auto);
    column-gap: 12px;
    padding: 24px;
}
.adventages-list .description{
    min-width: 200px;
    justify-content: center;
}

.adventages-list .description .title{
    margin-bottom: 12px;
}
.adventages-list .description .text{
    font-size: var(--sm-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--sm-line-height);
}
.item .icon-container{
    width: 136px;
    line-height: 136px;

    align-self: center;
    text-align: center;
}
.icon-container img{
    vertical-align: middle;
}

.garantee{
    margin-top: 48px;
}
.garantee > .title{
    
    margin-bottom: 12px;
    text-align: center;
}
.garantee .text{
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--base-line-height);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.garantee-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23%, auto));
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 36px;
}
@media (max-width: 1700px) {
    .garantee-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(48%, auto));
        gap: 24px;
    }
}
@media (max-width: 1000px) {
    .garantee-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, auto));
        gap: 24px;
    }
}

.garantee .item{
    text-align: center;
}
.garantee img{
    width: 366px;
    height: auto;
}
.garantee .item .title{
    text-align: center;
    font-size: var(--lg-font-size);
    font-weight: var(--black-font-weight);
    line-height: var(--lg-line-height);
}

.garantee .button{
    display: block;
    border-radius: 12px;
    padding: 16px 28px;
    font-weight: var(--black-font-weight);
    margin-left: auto;
    margin-right: auto;
}

.reviews{
    margin-top: 48px;
}
.reviews > .title{
    text-align: center;
    margin-bottom: 32px;
}

.reviews .carousels{
    display: grid;
    position: relative;
    /* grid-template-columns:  1fr 1fr ; */
    overflow: hidden;
    padding: 0 80px;
}
.reviews .slider{
    display: grid;
    position: relative;
     grid-template-columns:  1fr 1fr ; 
     gap: 24px; 
     animation-duration: 0.5s;
}

.slider .item {
    animation-name: fade;
    animation-duration: 0.5s;
}
.carousels button:hover{
    opacity: 80%;
    cursor: pointer;
}
.carousels button:disabled{
    opacity: 50%;
}

@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.reviews .carousels .item{
    z-index: -1;
    position: relative;
    background-color: var(--base-white-color);
    padding: 16px 32px;
    border-radius: 16px;
    
}
@media (max-width: 1000px) {
    .reviews .slider{
         grid-template-columns:  1fr;
    }
}
.reviews .carousels .item .text{
    font-size: var(--lg-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--lg-line-height);
}
.reviews .carousels .item .author{
    font-size: var(--lg-font-size);
    font-weight: var(--light-font-weight);
    line-height: var(--lg-line-height);
    color: #6B7280;
}

.reviews .carousels .item .decoration{
    position: absolute;
    z-index: -1;
    width: 75px;
    height: 75px;
    right: 16px;
    bottom: 8px;
}

.prev-button, .next-button{
    padding: 0;
    position: absolute;
    top: 45%;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}
.prev-button img, .next-button img{
  width: 48px;
  height: 48px;
}
.reviews .carousels .prev-button{
    left: 10px;
}

.reviews .carousels .next-button{
    transform: rotate(180deg);
    right: 10px;
}

.question{
    margin-top: 72px;
    background-color: var(--base-white-color);
    padding: 64px 20%;
    border-radius: 16px;
}
.question .title{
    text-align: center;
}
.question .form-grid{
    margin-top: 32px;
}

.footer{
    height: 234px;
    background-color: var(--base-black-color);
    display: grid;
    padding: 24px var(--2xl-padding);
    grid-template-rows: 76px 44px;
    gap: 24px;
    color: var(--base-white-color);
}

.footer .nav{
    margin-left: auto;
}
.footer .nav a{
    color: var(--base-white-color);
}
.footer .info{
    color: #4B5563;
}
@media (max-width: 1536px) {
    .main{
        padding: 72px var(--lg-padding);
    }
    .header{
        padding: 24px var(--lg-padding);
        grid-template-rows: 76px 72px;
        gap: 12px;
        position: relative;
        height: 200px;
    }
    .footer{
        padding: 24px var(--lg-padding);
    }
    .header .info{
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        border-right: 0;
        bottom: 10px;
        text-align: center;
    }
    .header .cost{
        width: 190px;
    }
    .header .delivery{
        width: 190px;
    }
    .header  .container:nth-child(2){
        border-top: 2px solid #8B5CF6;
        border-bottom: 2px solid #8B5CF6;
        height: 68px;
        align-items: center;
    }

    .footer{
        align-content: center;
        position: relative;
        height: 300px;
    }
    .footer .nav{
        position: absolute;
        top: 30px;
        width: 70%;
        justify-content: center;
    }
    .footer .info{
        text-align: center;
    }
    .footer .container{
        justify-content: space-between;
    }

}
@media (max-width: 1024px) {
    .main{
        padding: 46px var(--md-padding);
    }
    .header{
        padding: 24px var(--md-padding);
    }
    .footer{
        padding: 24px var(--md-padding);
    }
    .header .info{
        width: 75%;
    }
     .phone{
        font-size: var(--2xl-font-size);
        line-height: var(--2xl-line-height);
    }
     .free-call{
        font-size: var(--lg-font-size);
        line-height: var(--lg-line-height);
    }
    .footer .nav{
        width: 75%;

    }
    .footer .container{
        justify-content: space-between;
    }

}
@media (max-width: 800px) {
    .main{
        padding: 24px var(--sm-padding);
    }
    .header{
        padding: 24px var(--sm-padding);
        height: 80px;
    }
    .footer{
        padding: 24px var(--sm-padding);
    }
    .header  .container:nth-child(2){
        display: none;
    }
    .header .info{
        display: none;
    }

    .footer{
        grid-template-rows: auto;
        height: 380px;
    }
    
    .footer .phone{
        font-size: var(--4xl-font-size);
        line-height: var(--4xl-line-height);
    }
    .footer .free-call{
        font-size: var(--2xl-font-size);
        line-height: var(--3xl-line-height);
    }

    .footer .nav{
        width: 80%;
    }
    .footer .container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
    }
}